/* line 7, ../../../app/stylesheets/pages/error.sass */
body#pages_search #error_container {
  position: relative;
  left: 240px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
