/* line 7, ../../../app/stylesheets/pages/home.sass */
body#pages_home #search_container {
  position: relative;
  left: 160px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
  margin: 100px 0;
}
/* line 13, ../../../app/stylesheets/pages/home.sass */
body#pages_home #search_container #search_field {
  font-size: 36px;
  padding: 13px;
  width: 80%;
}
/* line 18, ../../../app/stylesheets/pages/home.sass */
body#pages_home #search_container #submit_button {
  background-color: #aa0101;
  color: white;
  border: 0;
  font-size: 36px;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 28, ../../../app/stylesheets/pages/home.sass */
body#pages_home #search_container #submit_button:hover {
  background-color: #e0464b;
  cursor: pointer;
}
/* line 32, ../../../app/stylesheets/pages/home.sass */
body#pages_home #search_container #submit_button:active {
  background-color: #aa0101;
  cursor: pointer;
}
/* line 36, ../../../app/stylesheets/pages/home.sass */
body#pages_home #search_container p {
  color: #999999;
  font-size: 0.8em;
}
/* line 40, ../../../app/stylesheets/pages/home.sass */
body#pages_home #search_container p a {
  color: #999999;
  text-decoration: underline;
  margin-right: 10px;
}
