/* line 7, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container {
  position: relative;
  left: 160px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
  margin: 100px 0 0 0;
}
/* line 15, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container form #search_field {
  font-size: 36px;
  padding: 13px;
  width: 75%;
  margin-right: 5px;
}
/* line 21, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container form #submit_button {
  background-color: #aa0101;
  color: white;
  border: 0;
  font-size: 36px;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 31, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container form #submit_button:hover {
  background-color: #e0464b;
  cursor: pointer;
}
/* line 35, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container form #submit_button:active {
  background-color: #aa0101;
  cursor: pointer;
}
/* line 39, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container form div.field_with_errors {
  display: inline;
}
/* line 42, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container form div.field_with_errors #search_field {
  border: 2px solid #aa0101;
}
/* line 45, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container p {
  color: #999999;
  font-size: 0.8em;
}
/* line 49, ../../../app/stylesheets/pages/search.sass */
body#pages_search #search_container p a {
  color: #999999;
  text-decoration: underline;
  margin-right: 10px;
}
