
#what_for_container

  %h1 
    What is this anyway?
    
  %p
    I've been scraping some sites recently for a side-project, and it occurred to me that I could save the 
    target site bandwidth (and probably speed up the scrape process) if I <b>check the google cache first</b>, 
    and only scrape the site itself as a last resort.
    
  %p
    Thus was <a href="http://fromthecache.com/">fromthecache.com</a> born. When you enter a URL,
    it will return the cached version from google if available; if not, it will scrape the original 
    site.
    
  %p
    Another use is an easy way to post mirror links when a site goes down - simply put <em>fromthecache.com/</em>
    in front of the URL and you have an instant cache link.
    
  %p
    I'm not sure about the legalities of removing the google cache header text (I do link to the google cache 
    result though), and I have a suspicion the site may end up blocked from google anyway for looking
    like a bot, but in the meantime <b>we're open for business</b>.
    
  %p
    Feel free to call the service programmatically if you wish, and basically do whatever you want with it.
    If anyone has complaints or comments, please <a href="/contact">drop me a line</a>.

.clear
