
#what_for_container
  %h1 
    What is this anyway?
    
  %p
    I've been writing scraping some sites recently for a side-project involving word-frequencies,
    and <b>found myself getting blocked</b> by the site (I was obeying <em>robots.txt</em> and throttling
    my requests pretty heavily).
    
  %p
    It occurred to me that I could save the target site bandwidth, and probably speed up the scrape
    process, if I <b>checked the google cache first</b>, and only scraped the site itself as a last resort.
    
  %p
    Thus was <a href="http://fromthecache.com/">fromthecache.com</a> born. When you enter a URL,
    it will return the cached version from google if available, or otherwise it will scrape the original 
    site.
    
  %p
    Another use is an easy way to post mirror links when a site goes down - simply put <em>fromthecache.com/</em>
    in front of the URL and you have an instant cache link.
    
  %p
    I'm not sure about the legalities of removing the google cache header text (i do link to the google cache 
    result though), and I have a suspicion the site may end up blocked from google anyway for looking
    like a bot, but in the meantime <b>we're rock'n'rolling!</b>
    
  %p
    Feel free to call the service programmatically if you wish, and basically do whatever you want with it.
    If anyone has complaints or comments, please <a href="/contact">drop me a line</a>.

.clear
