
#search_container
  %input{:type => 'text', :placeholder => t('pages.home.form_placeholder'), :id => 'search_field'}
  %input{:type => 'submit', :value => t('pages.home.submit_label'), :id => 'submit_button'}
  
  %p
    = t('pages.home.creator_label')
    = link_to t('pages.home.creator_link'), 'http://recursive-design.com/'
    = link_to t('pages.home.about_link'), about_path
    = link_to t('pages.home.contact_link'), contact_path

.clear