/* line 6, ../../../app/stylesheets/common/footer.sass */
#footer_container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: auto;
  color: #222222;
  margin-top: 20px;
}
/* line 12, ../../../app/stylesheets/common/footer.sass */
#footer_container ul {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  left: 240px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  border-top: 1px dashed #dedede;
  background-color: white;
}
/* line 23, ../../../app/stylesheets/common/footer.sass */
#footer_container li {
  float: left;
  margin: 0.5em;
}
