/* line 6, ../../../app/stylesheets/common/header.sass */
#menu_container {
  height: auto;
  color: #222222;
  margin-bottom: 2em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 13, ../../../app/stylesheets/common/header.sass */
#menu_container li {
  float: left;
  margin: 0 0.5em;
  line-height: 3em;
  list-style: none;
}
/* line 19, ../../../app/stylesheets/common/header.sass */
#menu_container li#english_tab, #menu_container li#french_tab {
  float: right;
}
/* line 23, ../../../app/stylesheets/common/header.sass */
#menu_container ul {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  left: 240px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  border-bottom: 1px dashed #dfdfdf;
  background-color: white;
}
/* line 34, ../../../app/stylesheets/common/header.sass */
#menu_container a {
  font-size: 1.1em;
  color: #aa0101;
}
/* line 38, ../../../app/stylesheets/common/header.sass */
#menu_container a:visited {
  color: #aa0101;
}
/* line 41, ../../../app/stylesheets/common/header.sass */
#menu_container a:hover {
  color: #e0464b;
}

/* line 44, ../../../app/stylesheets/common/header.sass */
body#pages_home header li#home_tab a,
body#pages_about header li#about_tab a,
body#contacts_new header li#contact_tab a,
body#users_index header li#users_tab a,
body#registrations_edit header li#profile_tab a,
body#sessions_new header li#sign_in_tab a,
body#registrations_new header li#sign_up_tab a {
  color: #222222;
}
