
@import 960/grid
@import colors


#footer_container 
  +grid-container
  height: auto
  color: $footer_text
  margin-top: 20px
    
  ul
    width: 100%
    overflow: hidden
    margin: 0
    padding: 0
    +grid-move-base
    +grid-push(3, $ninesixty-columns)
    +grid(6, $ninesixty-columns)  
    border-top: 1px dashed $footer_border
    background-color: $footer_bg

  li
    float: left
    margin: 0.5em
  