
@import 960/grid
@import colors

// IE won't select on <header> or <nav> - need to add a <div> container as well unfortunately.
#menu_container 
  height: auto
  color: $header_text
  margin-bottom: 2em
  height: 3em
  +grid-container
    
  ul
    width: 100%
    overflow: hidden
    margin: 0
    padding: 0
    +grid-move-base
    +grid-push(3, $ninesixty-columns)
    +grid(6, $ninesixty-columns)  
    border-bottom: 1px dashed $header_border
    background-color: $header_bg
  
  li
    float: left
    margin: 0 0.5em
    line-height: 3em
    list-style: none
    
    &#english_tab,
    &#french_tab
      float: right
    
  a
    font-size: 1.1em
    color: $header_link
  
    &:visited
      color: $header_link_visited
  
    &:hover
      color: $header_link_hover
      
body#pages_home         #menu_container  li#home_tab a,
body#pages_about        #menu_container  li#about_tab a,
body#contacts_new       #menu_container  li#contact_tab a,
body#users_index        #menu_container  li#users_tab a,
body#registrations_edit #menu_container  li#profile_tab a,
body#sessions_new       #menu_container  li#sign_in_tab a,
body#registrations_new  #menu_container  li#sign_up_tab a
  color: $text
  