%header
  %nav
    #menu_container
      %ul#header_menu
        %li#search_tab= link_to t('common.header_link.search'), root_path
        %li#about_tab= link_to t('common.header_link.about'), about_path
        %li#contact_tab= link_to t('common.header_link.contact'), contact_path
      